.search-btn {
  background-color: #ffd96a !important;
  border: #ffd96a !important;
}

.banner-wrapper .banner-header p {
  color: #fff;
}

.lg {
  background: #f5f5f5;
}

.whiter {
  background: #fff;
}
